@import url('./base.css');

.categorie
,.product{
   width: 30%;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
.products{
    margin: 50px;
}
.products h2{
    text-align: center;
    margin: 40px;
}
.products-info .row{
    justify-content: flex-start;

}
.product-section{
     width: 30%;
     background-color: #fff;
     padding: 20px;
     margin: 10px;
     text-align: center;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}